<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Cart</title>
</head>
<body>
<h1>Cart</h1>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.items}">
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td>
            <form th:action="@{/carts/{cartId}/removeProduct(cartId=${cart.id})}" method="post">
                <input type="hidden" th:value="${item.product.productId}" name="productId"/>
                <button type="submit">Remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/carts/{cartId}/clear(cartId=${cart.id})}">Clear Cart</a>
</body>
</html>
