<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Catalog</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Create Catalog</h1>
<form th:action="@{/catalogs/new}" th:object="${catalog}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required/>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
<a th:href="@{/catalogs}">Back to Catalogs</a>
</body>
</html>
